{% extends "modal.html" %}
{% block content %}
{% if variable == 'L' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar comprimento da viga</h3>
{% elif variable == 'E' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar módulo de elasticidade</h3>
{% elif variable == 'G' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar módulo de cisalhamento</h3>
{% elif variable == 'A' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar área da seção transversal</h3>
{% elif variable == 'I_zz' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar momento de inércia de área</h3>
{% elif variable == 'J_p' %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar momento polar de inércia</h3>
{% else %}
<h3 class="text-base font-semibold text-gray-900" id="modal-title">Editar variável</h3>
{% endif %}
<form class="mt-4" hx-post="/variable" hx-swap="innerHTML settle:3s" hx-target="#toast" hx-vals='{"variable_name": "{{ variable }}"}'>
  <div class="mt-4">
    <label for="variable_name" class="block text-sm/6 font-medium text-gray-900">Símbolo</label>
    <div class="mt-2">
      <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">        
        <p>{{ rep | safe }}</p>
      </div>
    </div>
  </div>
  <div class="mt-4">
      <label for="variable_value" class="block text-sm/6 font-medium text-gray-900">Valor</label>
      <div class="mt-2">
        <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">        
          <input type="text" name="variable_value" value="{{ value }}" id="variable_value" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 text-gray-900" placeholder="0.00">          
        </div>
      </div>
  </div>  
  <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
    <button id="closeModal" type="submit"
      class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-500 sm:ml-3 sm:w-auto">Editar</button>  
    <button id="cancelModal" type="button" _="on click trigger closeModal"
      class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancelar</button>
  </div>
  <span id="toast"></span>
</form>
{% endblock %}